@media (max-width: 1020px) and (min-width: 828px){
    .header-content{
        margin: 0 20px;
    }

    #about{
        flex-direction: column;
        padding: 32px 17px 50px 17px;
    }

    #projects,
    #personal{
        padding: 30px 16px 30px 17px;
    }

    .project{
        flex-direction: column;
    }
    
}

@media (max-width: 827px){
    .header-content{
        margin: 0 15px;
    }
    .header-nav{
        display: none;
        width: 100%;
        flex-direction: column;
        align-items: center;
        background-color: var(--clr-bg1);
    }
    .hamburguer{
        display: block;
    }
    .header-nav.show{
        display: flex;
    }

    li > a{
        padding-right: 100px;
        padding-left: 100px;
    }

    #hero{
        padding: 100px 16px 100px 16px;
    }

    .button{
        min-width: 95%;
    }

    .button > a{
        /* font-size: 1.38rem; */
    }

    #about{
        flex-direction: column;
        padding: 32px 25px 50px 17px;
    }

    .about-txt p{
        /* font-size: 1.38rem; */
    }

    h2.about-subtitle {
        /* font-size: 2rem; */
        margin-top: 70px;
    }

    .chart-title{
        /* font-size: 2rem; */
        padding-top: 50px;
        text-align: start;
    }
    
    .about-chart{
        margin:0px;
        padding: 0px;
    }

    #projects,
    #personal{
        padding: 30px 16px 30px 17px;
    }

    .project{
        flex-direction: column;
    }

}
