@media (max-width: 1020px) and (min-width: 768px){
    #about{
        flex-direction: column;
        padding: 32px 17px 50px 17px;
    }

    #projects,
    #personal{
        padding: 30px 16px 30px 17px;
    }

    .project{
        flex-direction: column;
    }
    
}

@media (max-width: 767px){
    *{
        font-size: 18px;
    }
    
    /* a.link{
        font-size: 1.38rem;
    } */

    #hero{
        padding: 100px 16px 100px 16px;
    }

    .button{
        min-width: 95%;
    }

    .button > a{
        /* font-size: 1.38rem; */
    }

    #about{
        flex-direction: column;
        padding: 32px 25px 50px 17px;
    }

    .about-txt p{
        /* font-size: 1.38rem; */
    }

    h2.about-subtitle {
        /* font-size: 2rem; */
        margin-top: 70px;
    }

    .chart-title{
        /* font-size: 2rem; */
        padding-top: 50px;
        text-align: start;
    }
    
    .about-chart{
        margin:0px;
        padding: 0px;
    }

    #projects,
    #personal{
        padding: 30px 16px 30px 17px;
    }

    .project{
        flex-direction: column;
    }

}
