#header {
    background-color: #FFF1E6;
}

#hero{
    background-color: #FFF1E6;
}
#about{
    display: flex;
    background-color: #FDE2E4;
}

.about-txt{
    width: 100%;
}

.about-graphics{
    width: 100%;
}

.project{
    display: flex;
}

#projects{
    background-color: #FFF1E6;
}

#personal{
    background-color: #FDE2E4;
}

#footer{
    background-color: #FFF1E6;
}